body{
text-align:center;
}

h1{
    text-align: center;
    margin: 30px auto;
    color: brown;
}

table{
    text-align: center;
    background-color:white;
    border: 1px solid rosybrown;
width:90%;
margin:30px auto;
}

th,td{
padding:10px;
border:1px solid black;
}
